<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.digitalhouse.staruniverse">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_star_universe"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_star_universe"
        android:supportsRtl="true"
        android:theme="@style/FullScreen">
        <activity android:name=".Core.MainActivity"/>
        <activity
            android:name=".Core.Facebook"/>
        <activity
            android:name=".Core.Gmail"/>
        <activity
            android:name=".Core.SplashActivity"
            android:label="Star Universe"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Core.Cadastro"/>
    </application>

</manifest>